/*custom*/

body {
    margin: 0;
    padding: 0;
}

.cpr-3 {
    padding-right: 3.2rem;
}

.cpl-3 {
    padding-left: 3.2rem;
}

section .container {
    padding: 5rem;
}

/*formSection*/

#formSection {
    background: rgba(34, 38, 43, 0.95);
    color: white;
}

.logo {
    height: 7vh;
}

.logo img {
    object-fit: contain;
    object-position: left;
}

#mail {
    height: 33vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#mail img {
    object-fit: contain;
    object-position: center;
}

#formSection .form-group {
    margin-bottom: 3rem;
}

#formSection label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#formSection label::after {
    content: "*";
    color: #d6482f;
    padding-left: 10px;
    padding-top: 5px;
}

#formSection .form-control {
    min-height: 5rem;
    background: rgba(34, 38, 43, 0.28);
    font-size: 1.8rem;
    color: white;
    padding: 15px 20px;
    border-color: rgba(255, 255, 255, .28);
}

#formSection .form-control:focus {
    border-color: #d6482f;
    box-shadow: none;
}

#bodyGroup {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bodyGroup textarea {
    flex-grow: 1;
    resize: none;
    min-height: 150px !important;
}

#formSection button {
    background-color: #d6482f;
    padding: 15px 35px;
    font-size: 2.2rem;
    font-weight: bolder;
}

#formSection button:focus {
    box-shadow: none;
}

/*comments*/

#comments .comment-card {
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#comments .comment {
    background-color: #e8edf4;
    white-space: normal;
    word-break: break-word;
}

.comment h2 {
    color: white;
    padding: 20px;
    background-color: #47576c;
}

.comment h4 {
    color: #47576c;
    font-size: 1.8rem;
    font-weight: bolder;
}

.comment p {
    font-size: 1.6rem;
    color: #73757f;
}

#comments .comment-card:nth-child(odd) .comment {
    background-color: #dbeee2;
}

#comments .comment-card:nth-child(odd) .comment h2 {
    background-color: #6ac35a;
}

#comments .comment-card:nth-child(odd) .comment h4 {
    color: #6ac35a;
}

/*footer*/

#footer {
    background: rgba(34, 38, 43, 0.95);
}

#footer .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer a {
    display: inline-block;
    height: 60px;
    width: 60px;
}

#footer a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*responsive*/

@media only screen and (max-width: 650px) {
    .cpr-3 {
        padding-right: 15px;
    }

    .cpl-3 {
        padding-left: 15px;
    }

    section .container {
        padding: 1.5rem;
    }

    #mail {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #formSection .form-group, .sm-mb-1 {
        margin-bottom: 1.5rem !important;
    }

    #formButton {
        text-align: center !important;
        margin-top: 1.5rem !important;
    }

    #comments .comment-card {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #footerContent {
        display: block !important;
        text-align: center;
    }

    #footerContent .logo img {
        object-position: center;
    }

    #contact {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 990px) {
    .cpr-3 {
        padding-right: 15px;
    }

    .cpl-3 {
        padding-left: 15px;
    }

    section .container {
        padding: 3rem;
    }

    #mail {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}
